{
  "extends": ["nextjs"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/jsx-curly-newline": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./"]
      }
    }
  },
  "globals": {
    "React": "writable"
  },
  "ignorePatterns": ["**/dist", "pages/**", "libs/**"]
}
